@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
}

body {
	color: var(--foreground);
	background: var(--background);
	background: no-repeat center/cover url('../public/black-background.svg');
	font-family: Arial, Helvetica, sans-serif;
}
p {
	text-indent: 1rem;
}
#contact > div > label:after {
	content: ' *';
	color: red;
}
#contact > :nth-child(4) > label:after {
	content: '';
}
